/* Hello CSS! */

@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');

h1 {
    color: coral;
    font-family: sans-serif;
}

p {
    color: rgb(0,0,0)
    font-family: 'Saira', sans-serif;
}


