/* Hello CSS! */

@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');

/* grid display */
body {
    display: grid;
    grid-template-columns: auto;
}

h1 {
    color: rgba(255,127,80, 1);
    font-family: sans-serif;
}

p {
    color: rgba(0, 0, 0, .65);
    font-family: 'Saira', sans-serif;
}


